<h1>Charcoal Baskets for Offset Smokers</h1>
<p>
  A charcoal basket is a necessary accessory for smoking with charcoal in any offset smoker.  We have the dimensions
  for many popular brands of smokers including:
  <ul>
    <% Configuration['brands'].each do |brand| %>
    <li><a href="purchase.html?brand/<%= brand['stub'] %>.html"><%= brand['name'] %></a></li>
    <% end %>
  </ul>
</p>
<p>
  Don't worry if your smoker is not listed here.  We make baskets of all shapes and sizes.  Help us improve our list!
</p>
<h2>Tips for measuring your firebox for a charcoal basket:</h2>
<ul>
  <li>Allow around 4 inches or more around the basket.  It shouldn't be too snug, there should be some air circulation.</li>
  <li>Remember you have to be able to insert the basket through your door or other opening.  Don't make it so big you can't get it in (yes, it's happened before).</li>
  <li>Cut out a cardboard box or similar to test your measurements</li>
</ul>