<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta name="google-site-verification" content="LZVJEW2vIzUm-mNS220I3fq-T9SSkEeoHYuHn1D1NEM" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="keywords" content="brinkmann smoke king, charbroil silver smoker, new braunfels hondo, old country, rd horizon offset, charcoal basket, cheap charcoal basket, smoker basket, minion method" />
    <meta name="description" content="how to smoke with offset smoker, brinkmann smoke king, charbroil silver smoker, new braunfels hondo, old country, rd horizon offset, charcoal baskets for your smoker" />
    <title>Charcoal Baskets For Your Smoker - how to smoke with offset smoker using minion method - </title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link rel="stylesheet" type="text/css" href="/js/jquery.lightbox-0.5/css/jquery.lightbox-0.5.css" media="screen" />
    <style type="text/css">

      #container { width: 866px; margin: 0 auto; }
      #main { clear: both; }
      #navigation { height: 36px; }
      #navigation ul { margin: 0; padding: 0; }
      #navigation li { float: left; list-style: none; padding: 7px 10px; }
      #content { }
      #footer {  }
      #header { height: 140px; background-image: url('/images/headers/header1.jpg'); }

    </style>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js"></script>
    <script src="/js/jquery.lightbox-0.5/js/jquery.lightbox-0.5.js"></script>
    <script src="/js/layout.js"></script>
    <script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script>
    <% yield_content :header %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div style="height: 23px; padding: 15px;">
          <fb:like href="http://www.facebook.com/pages/charcoalbasketcom/217266208288964" show_faces="false" width="450" font="verdana" colorscheme="dark"></fb:like>
        </div>
        <div style="padding-top: 20px; padding-left: 15px;">
          <a href="/page/home"><strong>charcoalbasket.com</strong></a><br />
          <em>Charcoal Baskets that help you get the most out of your Grill or Smoker</em>
        </div>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/page/minion-method.html">How To Use</a></li>
          <li><a href="/page/offset-smokers.html">Offset Smokers</a></li>
          <li><a href="/page/drum-smokers.html">Drum Smokers</a></li>
          <li><a href="/page/feedback.html">Contact Us</a></li>
          <li class="purchase_link"><a href="/page/purchase.html">Buy Now</a></li>
        </ul>
      </div>
      <div style="clear: both;"></div>
      <div id="content">
        <%= yield %>
      </div>
      <div style="clear: both;"></div>
      <div id="footer">
        <p>charcoalbasket.com</p>
        <a href="/page/privacy.html">Privacy Policy</a> |
        <a href="/page/terms-conditions.html">Terms & Conditions</a>
      </div>
    </div>
    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      var pageTracker = _gat._getTracker("UA-249405-11");
      pageTracker._initData();
      pageTracker._trackPageview();
    </script>
    <script src="http://checkout.google.com/files/digital/ga_post.js" type="text/javascript"></script>
  </body>
</html>