<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
  <head>
    <meta name="google-site-verification" content="LZVJEW2vIzUm-mNS220I3fq-T9SSkEeoHYuHn1D1NEM" />
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
    <meta name="keywords" content="brinkmann smoke king, charbroil silver smoker, new braunfels hondo, old country, rd horizon offset, charcoal basket, cheap charcoal basket, smoker basket, minion method" />
    <meta name="description" content="how to smoke with offset smoker, brinkmann smoke king, charbroil silver smoker, new braunfels hondo, old country, rd horizon offset, charcoal baskets for your smoker" />
    <title>Charcoal Baskets For Your Smoker - how to smoke with offset smoker using minion method - </title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css'>
    <style type="text/css">

      #container { width: 866px; margin: 0 auto; }
      #main { clear: both; }
      #navigation { height: 35px; }
      #navigation ul { margin: 0; padding: 0; }
      #navigation li { float: left; list-style: none; padding: 7px 10px; }
      #content { }
      #footer {  }
      #header { height: 140px; background-image: url('/images/headers/header1.jpg'); }
      #header #header_text { padding-top: 10px; padding-left: 15px; }

    </style>
    <script src="/js/head.js"></script>
    <% yield_content :header %>
  </head>
  <body>
    <div id="container">
      <div id="header">
        <div style="height: 23px; padding: 15px;">
          <fb:like href="http://www.facebook.com/pages/charcoalbasketcom/217266208288964" show_faces="false" width="450" font="verdana" colorscheme="dark"></fb:like>
        </div>
        <div id="header_text">
          <a href="/page/home"><strong>charcoalbasket.com</strong></a><br />
          <em>Charcoal baskets that help you get the most out of your smoker</em>
        </div>
      </div>
      <div id="navigation">
        <ul>
          <li><a href="/page/minion-method.html">How To Use</a></li>
          <li><a href="/page/offset-smokers.html">Popular Smokers</a></li>
          <li><a href="/page/drum-smokers.html">Drum Smokers</a></li>
          <li><a href="/purchase/custom/basket.html">Custom</a></li>
          <li><a href="/page/frequently-asked-questions.html">FAQ's</a></li>
          <li><a href="/page/feedback.html">Contact Us</a></li>
          <li class="purchase_link"><a href="/purchase/standard/size.html">Buy Now</a></li>
        </ul>
      </div>
      <div style="clear: both;"></div>
      <div id="content">
        <%= yield %>
      </div>
      <div style="clear: both;"></div>
      <div id="footer">
        <p>charcoalbasket.com</p>
        <a href="/page/privacy.html">Privacy Policy</a> |
        <a href="/page/terms-conditions.html">Terms & Conditions</a>
      </div>
    </div>
    <script type="text/javascript">
      head.js('https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js',
      '/js/jquery.lightbox-0.5/js/jquery.lightbox-0.5.js',
      '/js/layout.js',
      'http://www.google-analytics.com/ga.js',
      'http://checkout.google.com/files/digital/ga_post.js',
      'http://connect.facebook.net/en_US/all.js#xfbml=1', function() {
        var pageTracker = _gat._getTracker('<%= Configuration['analytics']['code'] %>');
        pageTracker._initData();
        pageTracker._trackPageview();
      });
    </script>
  </body>
</html>