<h1>Print this page and mail with Check or Money Order</h1>
<p>
	Please make check or money order out to Kerry Wilson and ship to the following address.
</p>
<p>
	Kerry Wilson<br />
	122 Walters Ave<br />
	Franklin, TN 37067
</p>
<%= erb 'page/by_mail_table'.to_sym %>
<h4>Email Address:</h4>
<p>
	<%= params['email'] %>
</p>
<h4>Shipping Address:</h4>
<p style="white-space: pre-line;"><%= params['address'].strip %></p>
<p>
	<input type="button" value="Print" class="button no-print" onclick="window.print()" />
	No printer? No problem. Just include a sheet of paper with the size, email, and shipping address.
</p>
