<p>
	<h3><%= params['item_name'] %></h3>
	<table>
		<tr>
			<th style="text-align: right">Subtotal:</th>
			<td>$<%= params['amount'] %></td>
		</tr>
		<tr>
			<th style="text-align: right">Shipping:</th>
			<td>$<%= params['shipping'] %></td>
		</tr>
		<tr>
			<th style="text-align: right">Total:</th>
			<td>$<%= params['amount'].to_f + params['shipping'].to_f %></td>
		</tr>
	</table>
</p>
