<h1>Charcoal Baskets for Drum Smokers</h1>
<p>Looking to build your own drum smoker?  Already have a drum smoker and needing to
  make it work better and longer for you?  We make can circular baskets of any size.</p>
<p></p>