<h1>Thank You for Your Order!</h1>
<p>Your order has been received and is in the process of being fulfilled, you will receive notifications
as soon as your order has been shipped.</p>
<p>
  <a href="http://www.charcoalbasket.com/">return to charcoalbasket.com</a>
</p>
